@using Microsoft.AspNetCore.Authorization;
@using ZooExpoOrg.Web.Shared.Components
@using ZooExpoOrg.Web.Shared.Layouts;

@page "/animals"
@layout MainLayout

@attribute [Authorize]

<h2>Animals</h2>

<AddButton Url="/animal/create" />

@code {

}
