@using Microsoft.AspNetCore.Authorization;
@using ZooExpoOrg.Web.Shared.Components
@using ZooExpoOrg.Web.Shared.Layouts;

@page "/expositions"
@layout MainLayout

@attribute [Authorize]

<h2>Мои выставки</h2>

<AddButton Url="/exposition/create" />

@code {

}
