@inject NavigationManager NavigationManager

<div>
    <MudFab OnClick="@GoBack" Class="back-button object-right-bottom" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.ArrowBack" />
</div>



@code {
    private void GoBack()
    {
        NavigationManager.NavigateTo("/");
    }
}


