@using ZooExpoOrg.Web.Services.Auth;
@inject NavigationManager NavigationManager

<div>
    <MudFab 
        OnClick="@GoBack" 
        Class="back-button" 
        Color="Color.Secondary" 
        StartIcon="@Icons.Material.Filled.ArrowBack" 
        />
</div>



@code {
    private async void GoBack()
    {
        var absoluteUri = NavigationManager.Uri;
        var baseUri = NavigationManager.BaseUri;

        string сurrentPage = absoluteUri.Replace(baseUri, "");

        if (сurrentPage == "client/create")
        {
            NavigationManager.NavigateTo("/logout");
        }

        NavigationManager.NavigateTo("/");
    }
}


