<MudNavMenu>
	<MudNavLink Href="/" Match="NavLinkMatch.All">
		<h5>Главная</h5>
	</MudNavLink>

	<MudNavLink Href="/exposition/subscriptions" Match="NavLinkMatch.Prefix">
		<h5>Мои подписки</h5>
	</MudNavLink>

	<MudNavLink Href="/animals" Match="NavLinkMatch.Prefix">
		<h5>Мои животные</h5>
	</MudNavLink>
	
	<MudNavLink Href="/exposition/organizeds" Match="NavLinkMatch.Prefix">
		<h5>Мои выставки</h5>
	</MudNavLink>
</MudNavMenu>